.main2{
    width: 100%;
    margin-top: 32px;
    display: flex;
}
.main2 .item{
    width: 201px;
height: 305px;

background: #111111;
border-radius: 8px;
padding: 4px 4px 8px;
margin-right: 16px;
}
.main2 .item .top{
    position: relative;
    width: 193px;
    height: 193px;
}
.main2 .item .top .image{
    background: url('../../../assets/main/main2/1.png');
    height: 100%;
    width: 100%;
}
.main2 .item .top .time{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 69px;
height: 22px;
right: 8px;
top: 169px;
/* padding: 0px 6px; */
background: rgba(0, 0, 0, 0.5);
color: white;
font-size: 14.5px;
border-radius: 10px;
}
.main2 .item .content{
width: 193px;
height: 84px;
padding: 4px;
margin-top: 12px;
}
.main2 .item .content .header{
    margin-bottom: 10px;
}
.main2 .item .content .bought{
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 10px;
}
.main2 .item .content .floor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}