.sidebar {
  position: fixed;
  width: 292px;
  height: 100vh;
  margin-right: 32px;
  background-color: #111111;
  padding: 16px 16px 24px 16px;
  color: white;
  border: 2px solid white;
}
.sidebar .a {
  width: 221px;
  height: 116px;
  margin-right: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid white;
  justify-content: space-between;
}
.sidebar .a .left {
  width: 84px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 4px;
  align-items: center;
}

.sidebar .a .left .rectangle {
  width: 84px;
  height: 84px;
  border-radius: 50%;

  padding: 2.5px;
  border: 3px solid transparent;
  background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(#111111, #111111),
    linear-gradient(90deg, #ffc148 135%, #ffc148 30%),
    linear-gradient(120deg, #ffc148 70%, #544a36 30%),
    linear-gradient(300deg, #ffc148 135%, #ffc148 30%),
    linear-gradient(210deg, #544a36 100%, #544a36 30%);

  background-position: center center, left top, right top, left bottom,
    right bottom;
  background-origin: content-box, border-box, border-box, border-box, border-box;
  background-clip: content-box, border-box, border-box, border-box, border-box;
}
.sidebar .a .left .rectangle .image {
  height: 72px;
  width: 72px;
  background: url("../../assets/sidebar/Rectangle18.png");
  border-radius: 1e9px;
}

.sidebar .a .left .textlvl {
  background-color: rgba(248, 169, 16, 0.1);
  padding: 8px;
  border-radius: 44px;
  color: #ffc148;
  justify-content: space-between;
  margin-top: 4px;
}

.sidebar .a .right {
  width: 125px;
  height: 54px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sidebar .a .right .h {
  width: 100%;
  height: 32px;
  font-size: 23px;
}
.sidebar .a .right .p {
  width: 100%;
  height: 20px;
  font-size: 12px;
  color: rgba(162, 162, 162, 1);
}

.sidebar .social {
  display: flex;
  width: 174px;
  height: 32px;
  margin-top: 32px;
  align-items: center;
  justify-content: space-between;
  padding-right: 2px;
}

.sidebar .social .name {
  background-color: rgba(26, 26, 26, 1);
  display: flex;
  border-radius: 30px;
  width: 126px;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 0 5px;
  color: rgba(162, 162, 162, 1);
}
.sidebar .social .name .image {
  width: 22.71px;
  height: 18.46px;
  background-image: url(../../assets/sidebar/twitter.png);
}

.sidebar .social .web {
  background-image: url(../../assets/sidebar/web.png);
  width: 24px;
  height: 24px;
  color: white;
}

.sidebar .content {
  margin-top: 32px;
  width: 258px;
  height: 72px;
  color: #a2a2a2;
  font-family: "Sharp Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 170%;
}

.sidebar .common_communities {
  margin-top: 32px;
  color: #a2a2a2;
  font-size: 15px;
}
.sidebar .common_communities .list {
    margin-top: 16px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.sidebar .common_communities .list .item {
  background-image: url("../../assets/sidebar/common_communities_1.png");
  width: 48px;
  height: 48px;
  border-radius: 8px;
  margin-right: 6px;
}


.sidebar .contribution{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 32px;
}
.sidebar .contribution .item{
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid yellow;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 10px;
}
.sidebar .contribution .item .name{
    margin-right: 7px;
}
.sidebar .subscribe{
    width: 260px;
    height: 44px;
    outline: none;
    display: flex;
    align-items: center;
    border: 1px solid #A2A2A2;
border-radius: 24px;
    justify-content: center;
    background-color: #111111;
    color: white;


    /* border: 0px solid white; */
}
.sidebar .subscribe .img{
    width:16px;
    height:16px;
    background: url('../../assets/sidebar/subscribe.png');
    margin-left: 5px;
}